
VITE_API_URL="http://localhost:8000/api"

VITE_BRANDING_NAME="El chanchito Feliz"

VITE_BUSINESS_NAME="El chanchito Feliz"
VITE_BUSINESS_NIT="00000000"
VITE_BUSINESS_ADDRESS="KR 15 -23"
VITE_BUSINESS_TEL="000 00 00 00"
VITE_BUSINESS_OWNER="Chanchito Perez"
